# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/


# OS files
.DS_Store

# VSCode/IDE
.vscode/
.idea/

# 忽略share的代码
share/

ds_con.py
# 忽视还未完善的程序文件夹
memory_service/
adapter/
scripts/setup_memory.sh

docker-compose02.yml

